CONFIG_PACKAGE_kmod-igc=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_luci-app-poweroff=y
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-autoipsetadder=n
CONFIG_PACKAGE_luci-app-autotimeset=y
CONFIG_PACKAGE_luci-app-bypass=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-passwall=n
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-store=n
# CONFIG_PACKAGE_luci-app-turboacc is not set
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-theme-argon=n
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-bootstrap-mod=n
CONFIG_PACKAGE_luci-theme-material=n
CONFIG_PACKAGE_luci-theme-openwrt-2020=n
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_PARTSIZE=512
CONFIG_VMDK_IMAGES=n
